body{
  font-family: "Arial", sans-serif;
}

/* navigation bar */

ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{ 
  float: right; 
  padding:2px;
  margin:2px;
}
li a{
  display:block;
  color:gray;
  text-align:center;
  padding:10px 10px;
  font-size: 14px;
  font-style:bold;
  text-decoration:none;
}
li button{
  margin: 2px;
  padding:0;
  display:inline;
  background:#0266c8;
}
button a{
  color:white;
}
li a:hover{
  text-decoration:underline;
}

#content{
  width:555px;
  margin-top:5%;
  padding:100px;
}
#logo{
  height:92px;
  width:200px;
}
#search_buttons{
  padding-top:25px;
  width:630px;
  text-align:center;
}
#logo,#content,#search_buttons,.container{
  margin-left:auto;
  margin-right:auto;
}
.apps{
  background-image: url('ssl.gstatic.com/gb/images/i1_1967ca6a.png');
  background-position:132px 38px;
  width:30px; 
  height:30px;
  background-color:#a9a9a9;
} /* the search box*/
input[type=text]{
  width: 600px;
  padding:15px;
  border:1px solid #a9a9a9;
  border-radius:2px;
  margin-top:29px;
}
input[type=text]:hover{
  -moz-box-shadow:1px 1px 10px #ccc;
  -webkit-box-shadow:1px 1px 10px #ccc;
  box-shadow: 1px 5px 10px #ccc;
}/* the search buttons*/
input[type=submit]{
  color:#797979;
  background:#f2f2f2;
  width:150px;
  margin:5px;
  padding:10px 10px;
  font-family:"Helvetica", sans-serif;
  font-size:15px;
  font-weight:700;
  border:none;
  position:relative;
  border:1px solid white;
}
input[type=submit]:hover{
 /*color:#0c0c0c;*/
  color:#161616;
  border-color:gray;
  border-radius: 2px;
  background:-webkit-linear-gradient(top,rgba(242,242,242,0), rgba(242,242,242,1));
  background:-o-linear-gradient(bottom,rgba(242,242,242,0),rgba(242,242,242,1));/*oper*/
  background:-moz-linear-gradient(bottom,rgba(242,242,242,0),rgba(242,242,242,1));
  background:linear-gradient(to bottom,rgba(242,242,242,0),rgba(242,242,242,1));
  border:1px solid #a9a9a9;
}
